@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
}

img {
    max-width: 100%;
}

.brand-logo-icon {
    font-size: 2em;
    margin-left: .5rem;
}

.nav-wrapper .brand-logo {
    margin-left: .5rem;
}

.sidenav-slogan {
    font-size: 1.25em;
    margin-top: .15rem;
}

.flash-text {
    margin: 2rem auto;
}

.display-flex {
    display: flex;
}

.justify-space-between {
    justify-content: space-between;
}

.text-uppercase {
    text-transform: uppercase;
}

.text-pink-shadow {
    text-shadow: 0 0 1em #e91e63, 0 0 0.2em #e91e63;
}

.text-black-shadow {
    text-shadow: 0 0 1em #000000, 0 0 0.2em #000000;
}

.btn-large {
    margin-bottom: .5rem;
}

.flow-text {
    margin-bottom: 4rem;
}

.card,
.card-panel {
    border-radius: .5em;
}

.grow {
    transition: all .2s ease-in-out;
}

.capitalize {
    text-transform: capitalize;
}

.grow:hover,
.grow:focus {
    transform: scale(1.05);
}

.block-container {
    min-height: 70vh;
}

.hero-container {
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    background: url('../images/home.jpg') no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
    min-height: 100vh;
}

.hero-container::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.5);
}

.hero-headings-wrapper {
    background-color: rgba(0, 0, 0, 0.6);
    margin-top: 2rem;
    border-radius: .5em;
}

.hero-subheading {
    margin: 3rem 0 4rem;
}

.hero-form-register {
    margin-top: 1.5rem;
}

.admin-icon {
    font-size: 2em;
}

.appointment-pending {
    color: #757575;
}

.appointment-accepted {
    color: #2e7d32;
}

.appointment-rejected {
    color: #b71c1c;
}

.appointment-cancelled {
    color: #ffab00;
}

.appointment-reason {
    font-size: 1.15em;
}

.appointment-info {
    margin-bottom: 2rem;
    font-size: 1.5em;
}

.divider {
  content: "";
  margin: 1.5rem 0 2rem;
  display: block;
}

.button-controls {
    margin-top: 2rem;
}

.footer-social-icon {
    font-size: 1.5em;
}
