{% extends "base.html" %}
{% block content %}

<h5 class="center-align">Edit Account Details</h5>

<div class="row">
    <form class="col s12 m6 offset-m3" method="POST" action="">
        <div class="card-panel">
            <div class="row">
                <p class="black-text">
                    Current email address: {{ session["user"].email_address }}
                </p>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <i class="deep-purple-text text-lighten-4 prefix fa-solid fa-envelope"></i>
                    <input id="email_address" name="email_address" type="email" class="validate"
                           value="{{ username.email_address }}" required>
                    <label for="email_address">Email Address</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <i class="deep-purple-text text-lighten-4 prefix fa-solid fa-lock"></i>
                    <input id="password" name="password" type="password" class="validate tooltipped"
                           data-position="top"
                           data-tooltip="Can contain: a-z, A-Z, 0-9. Minimum 8 characters, maximum 16."
                           minlength="8" maxlength="16" pattern="^[a-zA-Z0-9]{8,16}$"
                           value="{{ username.password }}" required>
                    <label for="password">New Password</label>
                </div>
            </div>
            <div class="row button-controls">
                <a href="{{ url_for('profile', username=session['user']) }}"
                   class="col s12 m3 offset-m2 waves-effect waves-light btn-large red darken-4">
                    Cancel
                </a>
                <button type="submit"
                        class="col s12 m3 offset-m2 waves-effect waves-light btn-large green darken-4">
                    Submit
                </button>
            </div>
        </div>
    </form>
</div>

{% endblock %}