{% extends "base.html" %}

{% block content %}

    <h1 class="center-align deep-purple-text">Appointments</h1>

    {% for appointment in appointments %}

        <p><strong>Created by:</strong> {{ appointment.created_by }}</p>
        <p><strong>Created on:</strong> {{ appointment.created_on }}</p>
        <p><strong>Reason for visit:</strong> {{ appointment.reason_for_visit }}</p>
        <p><strong>Requested date:</strong> {{ appointment.requested_date }}</p>
        <p><strong>Additional information:</strong> {{ appointment.additional_information }}</p>
        <p><strong>Status:</strong> {{ appointment.status }}</p>

    {% endfor %}

{% endblock %}

