{% extends "base.html" %}
{% block content %}
    <div class="row">
        <!--    Page heading    -->
        <div class="col s12">
            <h3 class="center-align grey-text text-darken-3">
                Manage Appointments
            </h3>
        </div>
    </div>
{% if not session.user %}
    <div class="row">
        <div class="col s12">
            <p>You need to log in for accessing appointments.</p>
        </div>
    </div>
{% endif %}
{% if session.user == "admin" %}
    <ul class="collapsible">
        {% for appointment in appointments %}
            <li>
                <div class="collapsible-header display-flex justify-space-between">
                    <i class="deep-purple-text text-darken-4 fa-solid fa-tooth"></i>
                    <p class="appointment-reason">
                        {{ appointment.reason_for_visit }}
                    </p>
                    <span class="grey-text text-darken-2 username right">
                        {{ appointment.created_by }}
                    </span>
                </div>
                <div class="collapsible-body">
                    <p class="grey-text text-darken-2">
                        Status: {{ appointment.status }}
                    </p>
                    <p class="grey-text text-darken-2">
                        Created on: {{ appointment.created_on }}
                    </p>
                    <br class="divider">
                    <p class="grey-text text-darken-3 appointment-info">
                        {{ appointment.additional_information }}
                    </p>
                    <p class="grey-text text-darken-4">
                        <i class="grey-text text-darken-4 fa-solid fa-calendar"></i>
                        {{ appointment.requested_date }}
                    </p>
                    <p class="grey-text text-darken-4">
                        <i class="grey-text text-darken-4 fa-solid fa-clock"></i>
                        {{ appointment.requested_time }}
                    </p>
                </div>
            </li>
        {% endfor %}
    </ul>
{% elif session.user != "admin" %}
    <ul class="collapsible">
        {% for appointment in appointments %}
            {% if session.user == appointment.created_by %}
                <li>
                    <div class="collapsible-header display-flex justify-space-between">
                        <i class="deep-purple-text text-darken-4 fa-solid fa-tooth"></i>
                        <p class="appointment-reason">
                            {{ appointment.reason_for_visit }}
                        </p>
                        <span class="grey-text text-darken-2 username right">
                            {{ appointment.status }}
                        </span>
                    </div>
                    <div class="collapsible-body">
                        <p class="grey-text text-darken-2">
                            Status: {{ appointment.status }}
                        </p>
                        <p class="grey-text text-darken-2">
                            Created on: {{ appointment.created_on }}
                        </p>
                        <br class="divider">
                        <p class="grey-text text-darken-3 appointment-info">
                            {{ appointment.additional_information }}
                        </p>
                        <p class="grey-text text-darken-4">
                            <i class="grey-text text-darken-4 fa-solid fa-calendar"></i>
                            {{ appointment.requested_date }}
                        </p>
                        <p class="grey-text text-darken-4">
                            <i class="grey-text text-darken-4 fa-solid fa-clock"></i>
                            {{ appointment.requested_time }}
                        </p>
                    </div>
                </li>
            {% endif %}
        {% endfor %}
    </ul>
{% elif not session.user %}
    <div class="row">
        <div class="col s12">
            Log in to see appointments
        </div>
    </div>
{% endif %}

{% endblock %}

