<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css">
    <title>BonTeeth - Dental Solutions</title>
</head>
<body>

<header>
    <!--    Top navbar    -->
    <nav>
        <div class="nav-wrapper blue-grey lighten-3">
            <a href="#!" class="brand-logo">Task Manager</a>
            <a href="#" data-target="mobile-demo" class="sidenav-trigger right"><i class="fa-solid fa-bars"></i></a>
            <ul class="right hide-on-med-and-down">
                <li>
                    <a href="#" class="center-align">
                        Home
                    </a>
                </li>
                <li>
                    <a href="#" class="center-align">
                        About Us
                    </a>
                </li>
                <li>
                    <a href="#" class="center-align">
                        Contact Us
                    </a>
                </li>
                <li>
                    <a href="{{ url_for('manage_appointments') }}" class="center-align">
                        Book an Appointment
                    </a>
                </li>
                <li>
                    <a href="#" class="center-align">
                        Log In
                    </a>
                </li>
            </ul>
        </div>
    </nav>

    <!--    Mobile navbar    -->
    <ul class="sidenav" id="mobile-demo">
        <li>
            <h4 class="center-align blue-grey-text text-darken-1">
                BonTeeth
            </h4>
            <h5 class="center-align blue-grey-text text-darken-5 sidenav-slogan">
                Dental Solutions
            </h5>
        </li>
        <li>
            <a href="#" class="center-align">
                Home
            </a>
        </li>
        <li>
            <a href="#" class="center-align">
                About Us
            </a>
        </li>
        <li>
            <a href="#" class="center-align">
                Contact Us
            </a>
        </li>
        <li>
            <a href="{{ url_for('manage_appointments') }}" class="center-align">
                Book an Appointment
            </a>
        </li>
        <li>
            <a href="#" class="center-align">
                Log In
            </a>
        </li>
    </ul>
</header>

{% block content %}
{% endblock %}

<script
        src="https://code.jquery.com/jquery-3.6.3.min.js"
        integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU="
        crossorigin="anonymous">
</script>
<script src="https://kit.fontawesome.com/6aecce4a80.js" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>