<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css">
    <title>BonTeeth - Dental Solutions</title>
</head>
<body>

<header>
    <!--    Top navbar    -->
    <nav>
        <div class="nav-wrapper deep-purple">
            <a href="#!" class="brand-logo">BonTeeth</a>
            <a href="#" data-target="mobile-demo" class="sidenav-trigger right"><i class="fa-solid fa-bars"></i></a>
            <ul class="right hide-on-med-and-down">
                <li>
                    <a href="{{ url_for('home') }}" class="center-align text-uppercase">
                        Home
                    </a>
                </li>
                <li>
                    <a href="#" class="center-align text-uppercase">
                        Why Choose Us
                    </a>
                </li>
                <li>
                    <a href="#" class="center-align text-uppercase">
                        Contact Us
                    </a>
                </li>
                <li>
                    <a href="#" class="center-align text-uppercase">
                        Book an Appointment
                    </a>
                </li>
                <li>
                    <a href="{{ url_for('login') }}" class="center-align text-uppercase">
                        Log In
                    </a>
                </li>
            </ul>
        </div>
    </nav>

    <!--    Mobile navbar    -->
    <ul class="sidenav" id="mobile-demo">
        <li>
            <h4 class="center-align deep-purple-text text-darken-1">
                BonTeeth
            </h4>
            <h5 class="center-align deep-purple-text text-darken-5 sidenav-slogan">
                Dental Solutions
            </h5>
        </li>
        <li>
            <a href="{{ url_for('home') }}" class="center-align text-uppercase">
                Home
            </a>
        </li>
        <li>
            <a href="#" class="center-align text-uppercase">
                Why Choose Us
            </a>
        </li>
        <li>
            <a href="#" class="center-align text-uppercase">
                Contact Us
            </a>
        </li>
        <li>
            <a href="#" class="center-align text-uppercase">
                Book an Appointment
            </a>
        </li>
        <li>
            <a href="{{ url_for('login') }}" class="center-align text-uppercase">
                Log In
            </a>
        </li>
    </ul>
</header>
<section>
    <!--    Flash messages    -->
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
    <div class="row flashes">
        <div class="col s12 l8 offset-l2 card-panel deep-purple lighten-2">
            <h5 class="white-text center-align">
                {{ message }}
            </h5>
        </div>
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}
</section>

<main class="container block-container">
    <!--    Main block content    -->
    {% block content %}
    {% endblock %}

</main>

<footer class="page-footer deep-purple lighten-1">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">Sitemap</h5>
                <ul>
                    <li>
                    <a href="#" class="white-text">
                        Why Choose Us
                    </a>
                </li>
                <li>
                    <a href="#" class="white-text">
                        Contact Us
                    </a>
                </li>
                <li>
                    <a href="#" class="white-text">
                        Book an Appointment
                    </a>
                </li>
                <li>
                    <a href="{{ url_for('login') }}" class="white-text">
                        Log In
                    </a>
                </li>
                </ul>
            </div>
            <div class="col l4 offset-l2 s12 m8">
                <h5 class="white-text">Opening Hours</h5>
                <ul>
                    <li>
                        <div class="display-flex justify-space-between">
                            <p class="white-text text-lighten-3">
                                Monday:
                            </p>
                            <p class="white-text text-lighten-3">
                                9.00am - 7.30pm
                            </p>
                        </div>
                    </li>
                    <li>
                        <div class="display-flex justify-space-between">
                            <p class="white-text text-lighten-3">
                                Tuesday:
                            </p>
                            <p class="white-text text-lighten-3">
                                9.00am - 5.30pm
                            </p>
                        </div>
                    </li>
                    <li>
                        <div class="display-flex justify-space-between">
                            <p class="white-text text-lighten-3">
                                Wednesday:
                            </p>
                            <p class="white-text text-lighten-3">
                                9.00am - 5.30pm
                            </p>
                        </div>
                    </li>
                    <li>
                        <div class="display-flex justify-space-between">
                            <p class="white-text text-lighten-3">
                                Thursday:
                            </p>
                            <p class="white-text text-lighten-3">
                                9.00am - 5.30pm
                            </p>
                        </div>
                    </li>
                    <li>
                        <div class="display-flex justify-space-between">
                            <p class="white-text text-lighten-3">
                                Friday:
                            </p>
                            <p class="white-text text-lighten-3">
                                9.00am - 5.30pm
                            </p>
                        </div>
                    </li>
                    <li>
                        <div class="display-flex justify-space-between">
                            <p class="white-text text-lighten-3">
                                Saturday:
                            </p>
                            <p class="white-text text-lighten-3">
                                10.00am - 3.00pm
                            </p>
                        </div>
                    </li>
                    <li>
                        <div class="display-flex justify-space-between">
                            <p class="white-text text-lighten-3">
                                Sunday:
                            </p>
                            <p class="white-text text-lighten-3">
                                Closed
                            </p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            © 2023 BonTeeth
            <i class="fa-brands fa-facebook right footer-social-icon"></i>
            <i class="fa-brands fa-instagram right footer-social-icon"></i>
            <i class="fa-brands fa-twitter right footer-social-icon"></i>
        </div>
    </div>
</footer>

<script
        src="https://code.jquery.com/jquery-3.6.3.min.js"
        integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU="
        crossorigin="anonymous">
</script>
<script src="https://kit.fontawesome.com/6aecce4a80.js" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>