{% extends "base.html" %}
{% block content %}
    <div class="row">
        <!--    Page heading    -->
        <div class="col s12">
            <h3 class="center-align grey-text text-darken-3">
                Book an Appointment
            </h3>
            {% if not session.user %}
            <p class="center-align grey-text text-darken-3 flow-text">
                Please, <a href="{{ url_for('login') }}">Sign in</a> for booking appointments. If you don't have a user,
                Register <a href="{{ url_for('login') }}">here</a>.
            </p>
            {% else %}
            <p class="center-align grey-text text-darken-3 flow-text hide-on-small-only">
                Do you want to book an appointment with us? Let us know by filling up this form.
            </p>
            {% endif %}
        </div>
    </div>
{% if session.user %}
    <!--    Book an Appointment form    -->
    <div class="row">
        <form class="col s12" method="POST" action="{{ url_for('book_appointment') }}">
            <div class="row">
                <div class="input-field col s12 m4">
                    <i class="fa-solid fa-magnifying-glass prefix"></i>
                    <select id="reason_for_visit"
                            name="reason_for_visit"
                            class="validate"
                            required>
                        {% for reason in reasons %}
                            <option value="{{ reason.reason }}">{{ reason.reason }}</option>
                        {% endfor %}
                    </select>
                    <label for="reason_for_visit">
                        Reason for visit
                    </label>
                </div>
                <div class="input-field col s12 m4">
                    <i class="fa-solid fa-calendar-days prefix"></i>
                    <input id="requested_date"
                           name="requested_date"
                           type="text"
                           class="datepicker validate"
                           required>
                    <label for="requested_date">
                        Date
                    </label>
                </div>
                <div class="input-field col s12 m4">
                    <i class="fa-solid fa-clock prefix"></i>
                    <input id="requested_time"
                           name="requested_time"
                           type="text"
                           class="timepicker validate"
                           required>
                    <label for="requested_time">
                        Time
                    </label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <i class="fa-solid fa-pencil prefix"></i>
                    <textarea id="additional_information"
                              name="additional_information"
                              class="materialize-textarea validate"
                              maxlength="400"></textarea>
                    <label for="additional_information">
                        Additional information
                    </label>
                </div>
            </div>
            <div class="row">
                <div class="col s12 center-align">
                    <button type="submit"
                            class="col s12 m4 offset-m4 waves-effect waves-light btn-large deep-purple darken-4">
                        Book Now
                    </button>
                </div>
            </div>
        </form>
    </div>
{% endif %}
{% endblock %}