{% extends "base.html" %}
{% block content %}
    <div class="row">
        <!--    Page heading    -->
        <div class="col s12">
            <h3 class="center-align grey-text text-darken-3">
                Edit an Appointment
            </h3>
        </div>
    </div>
    <div class="row">
        <form class="col s12" method="POST" action="{{ url_for('edit_appointment', appointment_id=appointment._id) }}">
            <div class="row">
                <div class="input-field col s12 m4">
                    <i class="fa-solid fa-magnifying-glass prefix"></i>
                    <select id="reason_for_visit"
                            name="reason_for_visit"
                            class="validate"
                            required>
                        {% for reason in reasons %}
                            {% if reason.reason == appointment.reason_for_visit %}
                                <option value="{{ reason.reason }}" selected>{{ reason.reason }}</option>
                            {% else %}
                                <option value="{{ reason.reason }}">{{ reason.reason }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                    <label for="reason_for_visit">
                        Reason for visit
                    </label>
                </div>
                <div class="input-field col s12 m4">
                    <i class="fa-solid fa-calendar-days prefix"></i>
                    <input id="requested_date"
                           name="requested_date"
                           value="{{ appointment.requested_date }}"
                           type="text"
                           class="datepicker validate"
                           required>
                    <label for="requested_date">
                        Date
                    </label>
                </div>
                <div class="input-field col s12 m4">
                    <i class="fa-solid fa-clock prefix"></i>
                    <input id="requested_time"
                           name="requested_time"
                           value="{{ appointment.requested_time }}"
                           type="text"
                           class="timepicker validate"
                           required>
                    <label for="requested_time">
                        Time
                    </label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <i class="fa-solid fa-pencil prefix"></i>
                    <textarea id="additional_information"
                              name="additional_information"
                              class="materialize-textarea validate"
                              maxlength="400">
                        {{- appointment.additional_information -}}
                    </textarea>
                    <label for="additional_information">
                        Additional information
                    </label>
                </div>
            </div>
            <div class="row">
                <div class="col s12 center-align">
                    <a href="{{ url_for('appointments') }}"
                       class="col s12 m3 offset-m2 waves-effect waves-light btn-large red darken-4">
                        Cancel
                    </a>
                    <button type="submit"
                            class="col s12 m3 offset-m2 waves-effect waves-light btn-large deep-purple darken-4">
                        Edit
                    </button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}