{% extends "base.html" %}
{% block content %}
    <div class="row">
        <!--    Page heading    -->
        <div class="col s12">
            <h3 class="center-align grey-text text-darken-3">
                Log In
            </h3>
        </div>
    </div>
    <div class="row">
        <form class="col s12 m6 offset-m3" method="POST" action="{{ url_for('login') }}">
            <div class="card-panel">
                <span class="white-text">Please, fill up the form for registration.
                </span>
                <div class="row">
                    <div class="input-field col s12">
                        <i class="prefix fa-solid fa-user"></i>
                        <input id="username" name="username" type="text" class="validate tooltipped"
                               data-position="top" data-tooltip="Can contain: a-z, A-Z, 0-9." minlength="5"
                               maxlength="16" pattern="^[a-zA-Z0-9]{5,16}$" required>
                        <label for="username">Username</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <i class="prefix fa-solid fa-lock"></i>
                        <input id="password" name="password" type="password" class="validate tooltipped"
                               data-position="top"
                               data-tooltip="Can contain: a-z, A-Z, 0-9. Minimum 8 characters, maximum 16."
                               minlength="8" maxlength="16" pattern="^[a-zA-Z0-9]{8,16}$" required>
                        <label for="password">Password</label>
                    </div>
                </div>
                <div class="row">
                    <button type="submit"
                            class="col s12 m6 offset-m3 waves-effect waves-light btn-large deep-purple">
                        Log In
                    </button>
                </div>
                <div class="row">
                    <p class="center-align">
                        Don't have an account? <a href="{{ url_for('register') }}" class="deep-purple-text">Sign up</a>
                    </p>
                </div>
            </div>
        </form>
    </div>

{% endblock %}