{% extends "base.html" %}
{% block content %}
    <div class="row">
        <!--    Page heading    -->
        <div class="col s12">
            <h3 class="center-align grey-text text-darken-3">
                Manage Appointments
            </h3>
            {% if not session.user %}
            <p class="center-align grey-text text-darken-3 flow-text">
                Please, <a href="{{ url_for('login') }}">Sign in</a> for booking appointments. If you don't have a user,
                Register <a href="{{ url_for('login') }}">here</a>.
            </p>
            {% endif %}
        </div>
    </div>
{% if session.user == "admin" %}
    <ul class="collapsible">
        {% for appointment in appointments %}
            <li>
                <div class="collapsible-header display-flex justify-space-between">
                    <i class="deep-purple-text text-darken-4 fa-solid fa-tooth"></i>
                    <p class="collapsible-reason">
                        {{ appointment.reason_for_visit }}
                    </p>
                    <span class="capitalize appointment-{{ appointment.status }}">
                        {{ appointment.status }}
                    </span>
                </div>
                <div class="collapsible-body">
                    <a href="{{ url_for('delete_appointment', appointment_id=appointment._id) }}">
                        <i class="grey-text text-darken-4 fa-solid fa-trash-can right admin-icon"></i>
                    </a>
                    <a href="">
                        <i class="grey-text text-darken-4 fa-solid fa-envelope right admin-icon"></i>
                    </a>
                    <p class="grey-text text-darken-2">
                        Status:
                        <span class="capitalize appointment-{{ appointment.status }}">
                            {{ appointment.status }}
                        </span>
                    </p>
                    <p class="grey-text text-darken-2">
                        Created by:
                        <span class="capitalize">
                            {{ appointment.created_by }}
                        </span>
                    </p>
                    <p class="grey-text text-darken-2">
                        Created on: {{ appointment.created_on }}
                    </p>
                    <br class="divider">
                    <p class="grey-text text-darken-3 collapsible-info">
                        {{ appointment.additional_information }}
                    </p>
                    <p class="grey-text text-darken-4">
                        <i class="grey-text text-darken-4 fa-solid fa-calendar"></i>
                        {{ appointment.requested_date }}
                    </p>
                    <p class="grey-text text-darken-4">
                        <i class="grey-text text-darken-4 fa-solid fa-clock"></i>
                        {{ appointment.requested_time }}
                    </p>
                    <div class="row button-controls">
                        <a href="{{ url_for('reject_appointment', appointment_id=appointment._id) }}"
                           class="col s12 m3 offset-m2 waves-effect waves-light btn-large red darken-4">
                            Reject
                        </a>
                        <a href="{{ url_for('accept_appointment', appointment_id=appointment._id) }}"
                           class="col s12 m3 offset-m2 waves-effect waves-light btn-large green darken-4">
                            Accept
                        </a>
                    </div>
                </div>
            </li>
        {% endfor %}
    </ul>
{% elif session.user != "admin" %}
    <ul class="collapsible">
        {% for appointment in appointments %}
            {% if session.user == appointment.created_by %}
                <li>
                    <div class="collapsible-header display-flex justify-space-between">
                        <i class="deep-purple-text text-darken-4 fa-solid fa-tooth"></i>
                        <p class="collapsible-reason">
                            {{ appointment.reason_for_visit }}
                        </p>
                        <span class="capitalize appointment-{{ appointment.status }}">
                            {{ appointment.status }}
                        </span>
                    </div>
                    <div class="collapsible-body">
                        <p class="capitalize appointment-{{ appointment.status }}">
                            <span class="grey-text text-darken-2">
                                Status:
                            </span>
                            {{ appointment.status }}
                        </p>
                        <p class="grey-text text-darken-2">
                            Created on: {{ appointment.created_on }}
                        </p>
                        <br class="divider">
                        <p class="grey-text text-darken-3 collapsible-info">
                            {{ appointment.additional_information }}
                        </p>
                        <p class="grey-text text-darken-4">
                            <i class="grey-text text-darken-4 fa-solid fa-calendar"></i>
                            {{ appointment.requested_date }}
                        </p>
                        <p class="grey-text text-darken-4">
                            <i class="grey-text text-darken-4 fa-solid fa-clock"></i>
                            {{ appointment.requested_time }}
                        </p>
                        <div class="row button-controls">
                            <a href="{{ url_for('cancel_appointment', appointment_id=appointment._id) }}"
                               class="col s12 m3 offset-m2 waves-effect waves-light btn-large red darken-4">
                                Cancel
                            </a>
                            <a href="{{ url_for('edit_appointment', appointment_id=appointment._id) }}"
                               class="col s12 m3 offset-m2 waves-effect waves-light btn-large deep-purple darken-4">
                                Edit
                            </a>
                        </div>
                    </div>
                </li>
            {% endif %}
        {% endfor %}
    </ul>
{% elif not session.user %}
    <div class="row">
        <div class="col s12">
            Log in to see appointments
        </div>
    </div>
{% endif %}

{% endblock %}

