{% extends "base.html" %}
{% block content %}

    <div class="row">
        <!--    Page headings    -->
        <div class="col s12 m10 offset-m1">
            <h3 class="center-align grey-text text-darken-3 lighten-4 welcome">
                Welcome <span class="username">{{ username }}</span>
            </h3>
        </div>
    </div>
    <div class="row">
        <div class="col s12 m4">
            <div class="card">
                <div class="card-image">
                    <img src="{{ url_for('static',filename='images/profile.jpg') }}">
                    <span class="card-title">My Profile</span>
                </div>
                <div class="card-content">
                    <p>You can view and edit your profile information.</p>
                </div>
            </div>
        </div>
        <div class="col s12 m4">
            <div class="card">
                <a href="{{ url_for('book_appointment') }}">
                    <div class="card-image">
                        <img src="{{ url_for('static',filename='images/dentist.jpg') }}">
                        <span class="card-title black-text">Book an Appointment</span>
                    </div>
                    <div class="card-content">
                        <p class="black-text">Fill up the form and come visit us!</p>
                    </div>
                </a>
            </div>
        </div>
        <div class="col s12 m4">
            <div class="card">
                <a href="{{ url_for('appointments') }}">
                    <div class="card-image">
                        <img src="{{ url_for('static',filename='images/toothbrush.jpg') }}">
                        <span class="card-title black-text">Manage Appointments</span>
                    </div>
                    <div class="card-content">
                        <p class="black-text">Edit, cancel or check status for your appointments.</p>
                    </div>
                </a>
            </div>
        </div>
    </div>

{% endblock %}