{% extends "base.html" %}
{% block content %}

    <div class="row">
        <!--    Page heading    -->
        <div class="col s12 m10 offset-m1">
            <h3 class="center-align grey-text text-darken-3">
                Welcome <span class="capitalize">{{ username }}</span>
            </h3>
        </div>
    </div>
    <div class="row">
        <div class="col s12 m4">
            <div class="card grow">
                <div class="card-image">
                    <img src="{{ url_for('static',filename='images/account.jpg') }}">
                    <span class="card-title white-text text-pink-shadow">
                        My Account
                    </span>
                </div>
                <div class="card-content">
                    <p class="grey-text text-darken-3">
                        View and edit your account information, such as email address or password.
                    </p>
                </div>
            </div>
        </div>
        <div class="col s12 m4">
            <a href="{{ url_for('book_appointment') }}">
                <div class="card grow">
                    <div class="card-image">
                        <img src="{{ url_for('static',filename='images/dentist.jpg') }}">
                        <span class="card-title white-text text-pink-shadow">
                            Book an Appointment
                        </span>
                    </div>
                    <div class="card-content">
                        <p class="grey-text text-darken-3">
                            Fill up the form and come visit us. We want you to smile more!
                        </p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col s12 m4">
            <a href="{{ url_for('manage_appointments') }}">
                <div class="card grow">
                    <div class="card-image">
                        <img src="{{ url_for('static',filename='images/toothbrush_jar.jpg') }}">
                        <span class="card-title white-text text-pink-shadow">
                            Manage Appointments
                        </span>
                    </div>
                    <div class="card-content">
                        <p class="grey-text text-darken-3">
                            Edit, cancel or check status for your booked appointments.
                        </p>
                    </div>
                </div>
            </a>
        </div>
    </div>

{% endblock %}