{% extends "base.html" %}
{% block content %}

<h5 class="center-align">Register Now</h5>

<div class="row">
    <form class="col s12 m6 offset-m3" method="POST" action="{{ url_for('register') }}">
        <div class="card-panel">
            <span class="white-text">Please, fill up the form for registration.
            </span>
            <div class="row">
                <div class="input-field col s12">
                    <input id="first_name" name="first_name" type="text" class="validate">
                    <label for="first_name">First Name</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input id="last_name" name="last_name" type="text" class="validate">
                    <label for="last_name">Last Name</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input id="email_address" name="email_address" type="email" class="validate">
                    <label for="email_address">Email Address</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input id="phone_number" name="phone_number" type="tel" class="validate">
                    <label for="phone_number">Phone Number</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input id="username" name="username" type="text" class="validate tooltipped"
                           data-position="top"
                           data-tooltip="Can contain: a-z, A-Z, 0-9.">
                    <label for="username">Username</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input id="password" name="password" type="password" class="validate tooltipped"
                           data-position="top"
                           data-tooltip="Can contain: a-z, A-Z, 0-9.">
                    <label for="password">Password</label>
                </div>
            </div>
            <div class="row">
                <button type="submit" class="col s12 m6 btn deep-purple text-uppercase" type="submit">
                    Submit <i class="fa-solid fa-arrow-right"></i>
                </button>
            </div>
        </div>
    </form>
</div>

{% endblock %}